version: "3.8"

services:
  mysql:
    image: mysql:5.7
    container_name: mysql_database
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/mysql_root_password
      MYSQL_DATABASE: Cobos_Bracamonte_Joshua_Arturo
      MYSQL_USER: usuario
      MYSQL_PASSWORD: password123
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./secrets/mysql_root_password.txt:/run/secrets/mysql_root_password
    networks:
      - mysql_network

volumes:
  mysql_data:

networks:
  mysql_network:
